<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      PAIXÃO PELA BOLA
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-grid>
        <ion-row>
          <ion-col size="12">
            <div>
              <ion-img class="myimage img-responsive"
                height="50%" width="50%" 
                [routerLink]="['/liga-nos']"
                src="/assets/images/liganos.jpg">
              </ion-img>
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="12">
              <div>
                <ion-img class="myimage img-responsive"
                  height="50%" width="50%" 
                  [routerLink]="['/liga-champions']"
                  src="/assets/images/ligadoscampeoes.jpg">
                </ion-img>
              </div>
            </ion-col>
          </ion-row>

          <ion-row>
              <ion-col size="12">
                  <div>
                      <span>
                          <ion-text class="ion-justify-content-center">Paixão pela Bola: Tudo sobre a Liga dos Campeões e a Liga NOS</ion-text>
                        </span>
                  </div>
              </ion-col>  
          </ion-row>
  
      </ion-grid>

</ion-content>

